/* $Rev: 198 $ | $LastChangedBy: brieb $ */
/* $LastChangedDate: 2007-03-08 15:02:42 -0700 (Thu, 08 Mar 2007) $ */

#topButtons{float:right;width:180px;}
#h1Title{margin-right:190px;}
#fsAttributes{clear:both;float:right;width:180px;}
#id{width:90%}
#leftDiv{margin-right:210px;}
#description{width:99%}